.chores {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: darkorchid;
}

h3 {
    text-decoration-line: underline;
}

ul {
    font-style: italic;
}